BASE_URL_BACKEND=*
BASE_URL_FILE=*
APP_TOKEN=*
FIREBASE_APIKEY=*
FIREBASE_AUTHDOMAIN=*
FIREBASE_DATABASEURL=*
FIREBASE_PROJECTID=*
FIREBASE_STORAGEBUCKET=*
FIREBASE_MESSAGINGSENDERID=*
FIREBASE_APPID=*
FIREBASE_MEASUREMENTID=*
APP_URL=*
VERSION=*